<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <a href="/submit-profile.html"><button>Add your information</button></a>
    <ul>
      <table style="width=100%", border="1">
      {{#each users}}
      <tr><td><a href="profile/{{id}}">{{name}}</a></td>
      <td>{{email}}</td></tr>
      {{/each}}
      </table>
    </ul>
  </body>
</html>
