<!DOCTYPE html>
<html>
  <head>
    <title>Student profiles</title>
  </head>
  <body>
    <table>
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.url}}</td>
        <td>{{user.school}}</td>
      </tr>
    </table>
  </body>
</html>

<!-- { user: users[0] } -->
